/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url('low-poly-grid-haikei.png') no-repeat center center fixed;
  background-size: cover;
  color: rgb(237, 237, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100vw;
  overflow-x: hidden;
  
}

p {
  font-size: 1.5rem;
  font-weight: 600;
}

.App {
  width: 90vw;
  max-width: auto;
  background: rgba(0, 0, 0, 0.5); /* Slightly transparent background for better contrast */
  border-radius: 20px;
  padding: 20px;
}

/* Image Container Styles */
.image-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Search Section Styles */
.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.extra-info {
  margin-bottom: 20px;
}

.extra-info label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 700;
}

.extra-info input[type="file"] {
  font-size: 1rem;
}

/* Button Styles */
.suprise {
  background-color: white;
  color: darkpurple;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.suprise:hover {
  background-color: #3d0a6f;
}

.suprise:active {
  transform: scale(0.98);
}

/* Input Container Styles */
.input-container {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-container input {
  width: 100%;
  padding: 10px 12px;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  outline: none;
  color: white;
  background: #1e1e1e;
}

.input-container input::placeholder {
  color: rgba(187, 187, 187, 0.4);
}

.input-container button {
  width: 120px; /* Adjusted width for better button look */
  border: none;
  background-color: white;
  color: darkpurple;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.input-container button:hover {
  background-color: #3d0a6f;
}

.input-container button:active {
  transform: scale(0.98);
}

/* Error and Response Styles */
.error, .response {
  background: rgba(255, 0, 0, 0.1);
  border-left: 4px solid red;
  padding: 10px 12px;
  margin-top: 20px;
  border-radius: 6px;
  font-size: 1.2rem;
}

.response {
  background: rgba(0, 255, 0, 0.1);
  border-left: 4px solid green;
}

.answer {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.7);
}

